<div ng-show="currentMatch">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">
        <p class="text-center time"><b>{{currentMatch.timer.minute}}:<span ng-show="currentBet.remaining_time % 60 < 10">0</span>{{currentMatch.remaining_time % 60}}</b></p>
    </div>
  </div>
  <div ng-show="!currentMatch.betting || user.currentBet || !isLoggedIn">
    <div class="col-sm-6">
      <table class="table table-striped">
        <tr>
          <th class="">{{currentMatch.players[0].name}} 
            <button type="button" class="btn btn-default btn-sm text-right" ng-click="showBet1 = true" ng-show="currentBet.active">Bet</button>
            <form class="form-inline" ng-show="showBet1" ng-submit="closeBet(1)">
              <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="number" class="form-control" id="exampleInputAmount" max="{{user.money}}" min="0" placeholder="Amount" ng-model="player1Bet" required>
                </div>
              </div>
            </form>
          </th>
        </tr>
        <tr ng-repeat="bets in currentBets[0]">
          <td>{{bets.amount}} <small>{{bets.user_id}}<small></td>
        </tr>
      </table>
    </div>

    <div class="col-sm-6">
      <table class="table table-striped">
        <tr>
          <th class="align-center">{{currentMatch.players[1].name}}
            <button type="button" class="btn btn-default btn-sm text-right" ng-click="showBet2 = true" ng-show="currentBet.active">Bet</button>
            <form class="form-inline" ng-show="showBet2" ng-submit="closeBet(2)">
              <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="number" class="form-control" id="exampleInputAmount" placeholder="Amount" max="{{user.money}}" min="0" ng-model="player2Bet" required>
                </div>
              </div>
            </form>
          </th>
        </tr>
        <tr ng-repeat="bets in currentBets[1]">
          <td>{{bets.amount}} <small>{{bets.user_id}}<small></td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-hide="!currentMatch.betting || user.currentBet || !isLoggedIn">
    <button ng-repeat="player in currentMatch.players track by $index" class="btn btn-primary btn-lg" ng-click="startBet($index + 1)" ng-model="button[$index + 1]">{{player.name}}</button>
    <div ng-show="user.bet.player">
      <input type="number" class="" ng-model="user.bet.amount" min="0" max="{{user.wallet}}">
      <button ng-click="submitBet()">Submit Bet</button>
      <button ng-click="cancelBet()">Cancel Bet</button>
    </div>
  </div>

</div>

<div ng-hide="currentMatch">
  No Matches Played on this stream!
</div>