<form ng-submit="activateUser()">
	<input ng-model="user.username" disabled>
	<input type="radio" name="stream_service" ng-model="user.stream_service" value="none">None
	<input type="radio" name="stream_service" ng-model="user.stream_service" value="twitch">Twitch
	<input type="radio" name="stream_service" ng-model="user.stream_service" value="hitbox">Hithox
	<span ng-hide="user.stream_service == 'none'">
		<input ng-model="user.stream_name" placeholder="Stream Name">
		<input type="radio" name="chat_service" ng-model="user.chat_service" value="stream">Stream Chat
		<input type="radio" name="chat_service" ng-model="user.chat_service" value="chatango">Chatango
		<input ng-model="user.chatango" ng-show="user.chat_service == 'chatango'" placeholder="chatango room name">
	</span>
	<input type="password" placeholder="Confirm Password" ng-model="user.password">
	<button type="submit">Activate Account</button>
</form>