<div class="container">
  <div class="col-sm-12">
    <form ng-submit="submitCharge()" class="form-horizontal" ng-hide="charging">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Credits</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model="charge.amount">
            <option value="500">100 Credits ($5)</option>
            <option value="1000">220 Credits ($10)</option>
            <option value="1500">350 Credits ($15)</option>
            <option value="2000">500 Credits ($20)</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Number</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputEmail3" placeholder="Number" ng-model="charge.source.number">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Card Info</label>
        <div class="col-sm-4">
          <input type="number" class="form-control col-sm-6" id="inputEmail3" placeholder="Exp Month" ng-model="charge.source.exp_month">
        </div>
        <div class="col-sm-4">
          <input type="number" class="form-control col-sm-6" id="inputEmail3" placeholder="Exp Year" ng-model="charge.source.exp_year">
        </div>
        <div class="col-sm-2">
          <input type="number" class="form-control col-sm-6" id="inputEmail3" placeholder="CVC" ng-model="charge.source.cvc">
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Get Credits</button>
    </form>
    <h1 ng-show="charging">Getting you some credits...</h1>
  </div>
</div>