<div class="home-wrapper">
	<div class="jumbotron">
	  <div class="container">
	  	<h1 class="text-center">Casino Night</h1>
	  	<p class="text-center">Stream. Bet. Win.</p>
	  </div>
	</div>
	<div class="jumbotron" style="background-color: #360036;">
	  <div class="container">
	  	<div class="col-md-8 col-md-offset-2">
	  		<div class="media">
			  <div class="media-left media-middle">
			    <h1 class="glyphicon glyphicon-usd" style="color: white"></h1>
			  </div>
			  <div class="media-body">
			    <h2 class="media-heading" style="color: white"><strong>Place bets on competitive video games on Twitch or Hitbox</strong></h2>
			    <p style="color: white">ESAM can take out ZerO, you say? Why not put some credits on it? Compete with other betters live to see who makes the best calls. Fully responsive, so you can make your bets at home or on the go.</p>
			  </div>
			</div>
	  	</div>
	  </div>
	</div>
	<div class="jumbotron">
	  <div class="container">
	  	<div class="col-md-8 col-md-offset-2">
	  		<div class="media">
			  <div class="media-body">
			    <h3 class="media-heading text-right"><strong>Create your own betting service and let viewers bet on your events</strong></h3>
			    <p class="text-right">Let the viewers participate by making some bets. Ever wanted to have a side event for your locals? Give a prize to the person who has the most credits at the end of the event.</p>
			  </div>
			  <div class="media-right media-middle">
			    <h1 class="glyphicon glyphicon-play"></h1>
			  </div>
			</div>
	  	</div>
	  </div>
	</div>
	<div class="jumbotron" style="background-color: #360036;">
	  <div class="container">
	  	<div class="col-md-8 col-md-offset-2">
	  		<div class="media">
			  <div class="media-left media-middle">
			    <h1 class="glyphicon glyphicon-play" style="color: white"></h1>
			  </div>
			  <div class="media-body">
			    <h3 class="media-heading" style="color: white"><strong>Contribute to your local tourney scene</strong></h3>
			    <p style="color: white">Lost all your cred to a bet gone bust? <strong>RECHARGE</strong>. Stay in the game by borrowing some credits from the bank. Half of all funds from <strong>RECHARGING</strong> go to the streamers of the event you're participating in.</p>
			  </div>
			</div>
	  	</div>
	  </div>
	</div>
	<div class="jumbotron">
	  <div class="container">
	  	<div class="col-md-8 col-md-offset-2">
	  		<div class="media">
			  <div class="media-body">
			    <h3 class="media-heading text-center"><strong>Have Fun!</strong></h3>
			    <p class="text-center">Ultimately, Casino Night is just another way for viewers and streamers to share in the fun of the community.</p>
			  </div>
			  <div class="media-right media-middle">
			    <h1 class="glyphicon glyphicon-play"></h1>
			  </div>
			</div>
	  	</div>
	  </div>
	</div>
	<div class="jumbotron" style="background-color: #360036;">
	  <div class="container">
	  	<div class="col-md-8 col-md-offset-2">
	  		<a href="/#/register"><h2 class="text-center" style="color: white;">Join in on the Fun</h2></a>
	  		<a href="/#/sign_in"><p class="text-center">...Or Sign In</p></a>
	  	</div>
	  </div>
	</div>
</div>
<style type="text/css">
	.home-wrapper {
		margin-top: -25px;
	}
</style>