<div class="alert alert-info marquee" role="alert">
    <marquee ng-show="currentMatch.betting">Next Match for <strong>{{currentMatch.game}}</strong>: <strong>{{currentMatch.players[0].name}}</strong> vs <strong>{{currentMatch.players[1].name}}</strong></marquee>
    <marquee ng-hide="currentMatch.betting || currentMatch.winner">Betting is over! <strong>Let's get it on!</strong></marquee>
    <marquee ng-show="currentMatch.winner">This game's winner is: <strong>{{currentMatch.players[currentMatch.winner - 1].name}}!</strong></marquee>
  </div> 
	<div class="container-fluid">
    <div class="col-md-5" id="stream-view">
      <stream url="streamUrl" stream-height="stream.height" stream-width="stream.width"></stream>
      <chat url="chatUrl" chat-height="stream.height" chat-width="stream.width"></chat>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div ng-include src="'partials/matchView/bets.html'"></div>
      </div>
    </div>
    
	</div>
  <style type="text/css">
  .navbar {
    border-radius: 0;
  }
  .marquee {
    margin-top: -20px;
    border-radius: 0;
  }
  .time {
    font-size: 40px;
  }
</style>